@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400;700;900&display=swap');
:root {
	--fuente-principal: 'Inter', sans-serif;
    --font-color-primary: #2D3748;
}

html {
	font-size: 62.5%;
	box-sizing: border-box;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

body {
	font-size: 2rem;
	font-family: var(--fuente-principal);
    color: var(--font-color-primary);
	line-height: 1.5;
	margin: auto;
    background-color: #F8F8F8;
}

img {
	max-width: 100%;
}

[class*="contenedor"] {
	margin: 0 auto;
	width: 95%;
    max-width: 115rem;
}