.titulo {
	font-weight: 900;
	font-size: 4rem;
	margin: 0;
}

.cardNosotrosSub{
	border-radius: 2rem;
	margin: 2rem;
	padding: 1rem 3rem;
	background-color: rgba(255, 255, 255, 0);
	box-shadow: 0 0 20px -16px;
}
.cardNosotrosSub h4{
	text-align: center;
}

.textHistoria{
	overflow: overlay;
	height: 25rem;
	margin-bottom: inherit;
}

.equipo .titulo{
	text-align: center;
}

.cardImg  img{
	object-fit: cover;
}

.staff{
	font-size: 18px;
	font-weight: 900;
}

.staffJob{
	font-size: 18px;
	font-weight: 600;
	color: #2d3748b8;
}

.equipo .cardNosotrosSub, .equipo .cardNosotrosSub p{
	position: relative;
}

.equipo .cardNosotrosSub::before{
	content: "";
	background-image: url("../public/img/patternBackground.png");
	background-size: cover;
	position: absolute;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	opacity: 0.1;
}

.cardImg img{
	border-radius: 10rem;
}

/*Mobil*/
@media only screen and (max-width: 767.98px) {
	.cardNosotrosSub{
		border-radius: 2rem;
		margin: 2rem 0;
		padding: 1rem 2rem;
	}

	.cardNosotrosSub:nth-child(1){
		background-color: #fff;
	}

	.equipo .cardNosotrosSub{
		text-align: center;
	}

	.cardImg{
		text-align: center;
	}
}

/*Tablet*/
@media only screen and (min-width: 768px){
	.nosotros {
		margin: 8rem 2rem 4rem 2rem;
		display: grid;
		row-gap: 2rem;
	}

	.cardNosotrosSub:nth-child(1){
		margin: 0;
		height: auto;
	}

	.equipo .cardNosotrosSub{
		display: flex;
		gap: 1rem;
		padding: 5rem;
	}

	.equipo .cardNosotrosSub{
		gap: 5rem;
	}
}

/*Desktoop*/
@media only screen and (min-width: 992px) {
	.nosotros {
		margin: 8rem 2rem 8rem 2rem;
		display: grid;
		gap: 2rem;
		grid-template-columns: repeat(2, auto);
	}

	.nosotros:nth-child(3) {
		margin-top: 0;
	}

	.cardNosotros{
		font-size: 16px;
	}

	.cardNosotrosSub:nth-child(1){
		background-color: #fff;
		height: 35rem;
	}

	.equipo .cardNosotrosSub{
		display: flex;
		gap: 1rem;
		padding: 5rem;
	}

	.cardImg{
		text-align: center;
		width: 25rem;
	}

	/*scroll bar*/
	.textHistoria::-webkit-scrollbar {
		-webkit-appearance: none;
	}
	
	.textHistoria::-webkit-scrollbar:vertical {
		width:10px;
	}

	.textHistoria::-webkit-scrollbar-button:increment,.textHistoria::-webkit-scrollbar-button {
		display: none;
	}

	.textHistoria::-webkit-scrollbar-thumb {
		background-color: #797979;
		border-radius: 20px;
		border: 2px solid #f1f2f3;
	}
}